.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}
.sub-container{
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 200px;
   width: 500px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
.down-arrow{
  font-size: 35pt;
  color: rgb(199, 23, 32);
}
.up-arrow{
  font-size: 35pt;
  COLOR: LAWNGREEN;
}